:root {
  --black: #0C0D0D;
  --white: #EDEEEF;
}

body {
  height: 100vh;
}

nav {
  height: 90vh;
  justify-content: space-around;
  font-size: 1.4em;
}
nav a {
  color: var(--black);
  font-family: 'Mulish', sans-serif;
  font-weight: 600;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
}
img {
  width: 200px;
  padding-bottom: 3vh;
}
nav a:hover {
  transform: scale(1.2);
  transition: 1s;
}