:root {
  --black: #0C0D0D;
  --white: #EDEEEF;
}

/* Structure */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  background-color: var(--white);
  color: var(--black);
}
.-title {
  font-family: 'Mulish', sans-serif;
  font-weight: 600;
  color: var(--dark);
}
a {
  text-decoration: none;
  text-transform: uppercase;
}
.-here {
  border-bottom: var(--light) 3px solid;
}

main {
  padding: 13vh 0 3vh 0;
}
header, footer {
  background-color: var(--black);
  color: var(--white);
  height: 10vh;
  width: 100%;
}

/* Header */
header {
  position: fixed;
  top: 0;
}
nav {
  display: flex;
  justify-content: space-evenly;
  height: 10vh;
  align-items: center;
  font-size: 1em;
}
header a {
  color: var(--white);
}
.-hover:hover {
  transform: scale(1.2);
  transition: 1s;
  border: none;
}
.-html:hover {
  color: #F1672D;
}
.-css:hover {
  color: #31A8DC;
}
.-js:hover {
  color: #F1BF25;
}

/* Footer */
footer {
  display: flex;
  align-items: center;
  font-size: 0.8em;
}
footer p {
  padding: 0 3%;
}
footer a {
  color: var(--white);
  text-transform: none;
  text-decoration: underline;
}

/* Cheats */
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
h1.-title {
  width: 100%;
  padding-left: 3%;
}
h2.-title {
  padding-bottom: 1vh;
}
.o-cheat {
  width: 30%;
  margin: 3vh 0;
  padding: 2vh 3%;
  border: var(--light) 3px solid;
  border-radius: 15px;
}
  .-code, pre {
    padding-left: 3%;
    border-left: var(--light) 3px solid;
    margin-bottom: 1vh;
    margin-top: 2vh;
    font-family: 'Open Sans', sans-serif;
  }
  .m-cheat__explication {
    display: flex;
    text-align: justify;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 1vh;
  }
  .-tag {
    font-weight: 600;
    color: var(--light);
    display: inline;
  }
  .-property {
    color: var(--dark);
  }

  button {
    margin-left: 10%;
    border: none;
    background-color: var(--light);
    color: var(--white);
    padding: 1vh 5%;
    border-radius: 10px;
    height: 4vh;
    outline: none;
  }
